{% extends 'stock/base.html' %}

{% block title %}Create a Company{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Company</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'stock/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Stocks?</h3>
                    <p>StockS is an app that allows you to upload and store all of your company's databases on the cloud and get queries and visualize your data.</p>
                    <h3>How do I add a query?</h3>
                    <p>First, create a new database with your company by filling out the form on this page. Once a database is created you will be able to add queries.</p>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

