{% extends 'stock/base.html' %}

{% block title %}Visualization{% endblock %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<div id="chart1" class="col-sm-12">
{% load chartit %}
    {{ stock_chart|load_charts:"cht_line,cht_pie,cht_column" }}

    <div id="cht_line">Chart will be rendered here</div>
    <div id="cht_pie">Chart will be rendered here</div>
    <div id="cht_column">Chart will be rendered here</div>

</div>

{% endblock %}
